.footer__container {
  display: flex;
  justify-content: space-between;
  max-width: 957px;
  padding-top: 153px;
  padding-bottom: 130px;
}

.footer__navigation {
  display: flex;
  gap: 91px;
}

.footer-column__title {
  margin-bottom: 40px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1px;
}

.footer-column__item:not(:last-child) {
  margin-bottom: 19px;
}

.footer-column__link {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.connection__list {
  margin-bottom: 15px;
}

.connection__item--address {
  padding: 13px 7px 25px 56px;
  background-image: url("../img/footer_icon_geo.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 46px 46px;
}

.connection__item--tel {
  padding: 6px 0px 25px 46px;
  background-image: url("../img/footer_icon_telephone.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 35px 35px;
}

.connection__link {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.social__list {
  display: flex;
  gap: 23px;
}

.social__icon {
  transition: outline 0.3s ease-in-out;
}

.social__link:focus .social__icon,
.social__link:hover .social__icon,
.social__link:active .social__icon {
  outline: 1px solid white;
  border-radius: 5px;
}
