.partners__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 112px;
  padding-bottom: 100px;
}

.partners__text-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  text-align: center;
}

.partners__descr {
  max-width: 537px;
}

.partners__title {
  margin-bottom: 17px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 74px;
  margin-bottom: 45px;
}

.partners__btn-wrap {
  text-align: center;
}

.partners__btn  {
  padding: 13px 44px;
}