html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@font-face {
  font-family: "Graphik";
  src: url("../fonts/GraphikRegular.woff2") format("woff2"),
    url("../fonts/GraphikRegular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../fonts/GraphikMedium.woff2") format("woff2"),
    url("../fonts/GraphikMedium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

:root {
  --text-color: #fff;
  --blue-color: #4452fe;
}

.page {
  min-width: 350px;
  color: var(--text-color);
  font-family: "Graphik", sans-serif;
  background-color: #181818;
  overflow-x: hidden;
}

.container {
  max-width: 1116px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.stop-scroll {
  overflow: hidden;
}

/* --- RESET STYLES--- */

.title-reset {
  margin: 0;
}

.descr-reset {
  margin: 0;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.link-reset {
  color: inherit;
  text-decoration: none;
  outline: none;
}

/* --- COMMON STYLES --- */

.section-title {
  font-style: normal;
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0.2px;
}

.section-descr {
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.btn-blue {
  color: var(--text-color);
  border: 1px solid var(--blue-color);
  background-color: var(--blue-color);
  -webkit-box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out,
              -webkit-transform 0.6s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out,
              -webkit-transform 0.6s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out,
              transform 0.6s ease-in-out;
  transition: box-shadow 0.3s ease-in-out,
              transform 0.6s ease-in-out;
  transition: box-shadow 0.3s ease-in-out,
              transform 0.6s ease-in-out,
              -webkit-box-shadow 0.3s ease-in-out,
              -webkit-transform 0.6s ease-in-out;
}

.btn-blue:focus,
.btn-blue:hover {
  -webkit-box-shadow: 0px 0px 10px 3px rgb(255 255 255 / 30%);
          box-shadow: 0px 0px 10px 3px rgb(255 255 255 / 30%);
}

.btn-blue:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.btn-black {
  color: var(--text-color);
  border: 1px solid var(--text-color);
  -webkit-box-shadow: 0px 4px 31px 0px rgba(255, 255, 255, 0.15);
          box-shadow: 0px 4px 31px 0px rgba(255, 255, 255, 0.15);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out,
              -webkit-transform 0.6s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out,
              -webkit-transform 0.6s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out,
              transform 0.6s ease-in-out;
  transition: box-shadow 0.3s ease-in-out,
              transform 0.6s ease-in-out;
  transition: box-shadow 0.3s ease-in-out,
              transform 0.6s ease-in-out,
              -webkit-box-shadow 0.3s ease-in-out,
              -webkit-transform 0.6s ease-in-out;
}

.btn-black:focus,
.btn-black:hover {
  -webkit-box-shadow: 0px 0px 10px 3px rgb(255 255 255 / 30%);
          box-shadow: 0px 0px 10px 3px rgb(255 255 255 / 30%);
}

.btn-black:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.link-style {
  display: inline-block;
  padding: 19px 44px;
  color: var(--text-color);
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.2px;
}

.img-style {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.list__title {
  font-style: normal;
  font-size: 21px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1px;
}

.list__descr {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
}

/* --- HEADER --- */

.header {
  background-color: #000;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 34px 49px 34px 51px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.logo:focus,
.logo:hover,
.logo:active {
  opacity: 0.8;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 51px;
}

.menu__link {
  display: block;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.7px;
  -webkit-transition: color 0.3s ease-in-out,
              -webkit-transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out,
              -webkit-transform 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out,
              transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out,
              transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out,
              transform 0.3s ease-in-out,
              -webkit-transform 0.3s ease-in-out;
}

.menu__link:focus,
.menu__link:hover {
  color: var(--blue-color);
}

.menu__link:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.header__enter {
  padding: 12px 48px;
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.2px;
}

/*  --- HERO --- */

.hero {
  background-color: #000;
}

.hero__container {
  max-width: 815px;
  padding-top: 95px;
  padding-bottom: 35px;
  text-align: center;
}

.hero__title {
  margin-bottom: 38px;
  font-style: normal;
  font-size: 80px;
  font-weight: 500;
  line-height: 88px;
  letter-spacing: 0.2px;
}

.hero__descr {
  margin-bottom: 95px;
}

.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 37px;
}

.hero__background {
  padding-bottom: 992px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)), color-stop(66.15%, #0e0e0e)), url("../img/hero_img_screens.png");
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00) 0%, #0e0e0e 66.15%), url("../img/hero_img_screens.png");
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0e0e0e 66.15%), url("../img/hero_img_screens.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
}

/*  --- OPPORTUNITIES --- */

.opportunities__container {
  padding-top: 164px;
  padding-bottom: 106px;
}

.opportunities__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  text-align: center;
}

.opportunities__title {
  margin-bottom: 26px;
}

.opportunities__descr {
  max-width: 815px;
}

.opportunities__list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.opportunities__list {
  max-width: 285px;
  padding-right: 20px;
  padding-top: 125px;
  padding: 125px 20px 0 0;
}

.opportunities__item:not(:last-child) {
  margin-bottom: 44px;
}

.opportunities__item {
  padding-left: 26px;
  background-repeat: no-repeat;
}

.opportunities__item--1 {
  background-image: url("../img/opportunities_icon_1.svg");
  background-position: 16px 10px;
  background-size: 26px 24px;
}

.opportunities__item--2 {
  background-image: url("../img/opportunities_icon_2.svg");
  background-position: 16px 7px;
  background-size: 29px 30px;
}

.opportunities__item--3 {
  background-image: url("../img/opportunities_icon_3.svg");
  background-position: 14px 8px;
  background-size: 41px 19px;
}

.opportunities__subtitle {
  padding-left: 27px;
  margin-bottom: 32px;
}

.opportunities__subtitle--3 {
  padding-left: 39px;
  margin-bottom: 26px;
}

/* --- PLUGINS --- */

.plugins__container {
  padding-top: 114px;
  padding-bottom: 100px;
}

.plugins__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 54px;
  text-align: center;
}

.plugins__title {
  margin-bottom: 22px;
}

.plugins__descr {
  max-width: 572px;
}

.plugins__list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.plugins__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 33px;
  max-width: 985px;
  text-align: center;
}

.plugins__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(50% - (33px / 2));
  padding: 50px 50px 0px 50px;
  background-color: var(--text-color);
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  -webkit-box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}

.plugins__subtitle {
  margin-bottom: 30px;
  color: #000;
}

.plugins__subdescr {
  color: #5c5c5c;
}

.plugins__bottom-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 47px;
}

.plugins__btn {
  padding: 12px 50px;
  color: var(--text-color);
  border: 1px solid var(--blue-color);
  background-color: var(--blue-color);
  -webkit-box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out,
              -webkit-transform 0.6s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out,
              -webkit-transform 0.6s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out,
              transform 0.6s ease-in-out;
  transition: box-shadow 0.3s ease-in-out,
              transform 0.6s ease-in-out;
  transition: box-shadow 0.3s ease-in-out,
              transform 0.6s ease-in-out,
              -webkit-box-shadow 0.3s ease-in-out,
              -webkit-transform 0.6s ease-in-out;
}

.plugins__btn:focus,
.plugins__btn:hover {
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
}

.plugins__btn:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.plugins__img--left {
  padding: 40px 0;
}

/*  --- GALERIE --- */

.galerie__container {
  padding-top: 112px;
  padding-bottom: 100px;
}

.galerie__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 56px;
  text-align: center;
}

.galerie__title {
  margin-bottom: 17px;
}

.galerie__descr {
  max-width: 467px;
}

.galerie__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 44px 32px;
}

.galerie__img {
  border-radius: 12px;
}

.galerie__btn-wrap {
  margin-top: 44px;
  text-align: center;
}

.galerie__btn  {
  padding: 13px 44px;
}

/* --- PARTNERS --- */

.partners__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 112px;
  padding-bottom: 100px;
}

.partners__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
  text-align: center;
}

.partners__descr {
  max-width: 537px;
}

.partners__title {
  margin-bottom: 17px;
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 74px;
  margin-bottom: 45px;
}

.partners__icon {
  -webkit-transition: opacity 0.3s ease-in-out,
              -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out,
              -webkit-transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out,
              transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out,
              transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out,
              transform 0.3s ease-in-out,
              -webkit-transform 0.3s ease-in-out;
}

.partners__link:focus .partners__icon,
.partners__link:hover .partners__icon {
  opacity: 0.7;
}

.partners__link:active .partners__icon {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.partners__btn-wrap {
  text-align: center;
}

.partners__btn  {
  padding: 13px 44px;
}

/* --- FEEDBACKS --- */

.feedbacks__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 112px;
  padding-bottom: 100px;
}

.feedbacks__title {
  margin-bottom: 58px;
}

.feedbacks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  max-width: 883px;
}

.feedbacks__item {
  width: calc(50% - 10px);
  padding: 39px;
  border: 1px solid #dedede;
  border-radius: 10px;
}

.card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.card__img {
  margin-right: 23px;
}

.card__title {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.card__profession {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1px;
}

/* --- FOOTER --- */

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 957px;
  padding-top: 153px;
  padding-bottom: 130px;
}

.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 91px;
}

.footer-column__title {
  margin-bottom: 40px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1px;
}

.footer-column__item:not(:last-child) {
  margin-bottom: 19px;
}

.footer-column__link {
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
  -webkit-transition: color 0.3s ease-in-out,
              -webkit-transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out,
              -webkit-transform 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out,
              transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out,
              transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out,
              transform 0.3s ease-in-out,
              -webkit-transform 0.3s ease-in-out;
}

.footer-column__link:focus,
.footer-column__link:hover {
  color: var(--blue-color);
}

.footer-column__link:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.connection__list {
  margin-bottom: 20px;
}

.connection__item:not(:last-child) {
  margin-bottom: 15px;
}

.connection__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
  -webkit-transition: color 0.3s ease-in-out,
              -webkit-transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out,
              -webkit-transform 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out,
              transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out,
              transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out,
              transform 0.3s ease-in-out,
              -webkit-transform 0.3s ease-in-out;
}

.connection__link:focus,
.connection__link:hover {
  color: var(--blue-color);
}

.connection__link:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.connection__icon {
  fill: var(--text-color);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.connection__link:focus .connection__icon,
.connection__link:hover .connection__icon,
.connection__link:active .connection__icon {
  fill: var(--blue-color);
}

.connection__span--tel {
  padding-left: 9px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
}

.social__icon {
  fill: var(--text-color);
  -webkit-transition: fill 0.3s ease-in-out,
              -webkit-transform 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out,
              -webkit-transform 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out,
              transform 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out,
              transform 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out,
              transform 0.3s ease-in-out,
              -webkit-transform 0.3s ease-in-out;
}

.social__link:focus .social__icon,
.social__link:hover .social__icon {
  fill: var(--blue-color);
}

.social__link:active .social__icon {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

/* --- MODAL WINDOW --- */

.modal-parent {
  position: fixed;
  inset: 0;
  z-index: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out,
              visibility 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out,
              visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out,
              visibility 0.3s ease-in-out;
}

.modal-wrap {
  margin: auto;
  width: 90%;
  max-width: 500px;
}

.modal {
  margin: 30px 0;
  width: 100%;
  padding: 40px 20px;
  background-color: var(--text-color);
  border-radius: 5px;
}

.modal__title {
  margin-bottom: 30px;
  text-align: center;
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.2px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 100%;
}

.form__field {
  width: 100%;
}

.form__text {
  display: block;
  margin-bottom: 3px;
  color: #000;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.7px;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
}

.form__btn {
  width: 100%;
  margin-top: 19px;
  padding: 7px;
  color: var(--text-color);
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.7px;
  border: 1px solid var(--blue-color);
  border-radius: 5px;
  background-color: var(--blue-color);
  -webkit-box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out,
              -webkit-transform 0.6s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out,
              -webkit-transform 0.6s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out,
              transform 0.6s ease-in-out;
  transition: box-shadow 0.3s ease-in-out,
              transform 0.6s ease-in-out;
  transition: box-shadow 0.3s ease-in-out,
              transform 0.6s ease-in-out,
              -webkit-box-shadow 0.3s ease-in-out,
              -webkit-transform 0.6s ease-in-out;
}

.form__btn:focus,
.form__btn:hover {
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
}

.form__btn:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.modal-parent--open {
  opacity: 1;
  visibility: visible;
}