html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Graphik";
  src: url("../fonts/GraphikRegular.woff2") format("woff2"),
    url("../fonts/GraphikRegular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../fonts/GraphikMedium.woff2") format("woff2"),
    url("../fonts/GraphikMedium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

:root {
  --text-color: #fff;
}

.page {
  min-width: 350px;
  color: var(--text-color);
  font-family: "Graphik", sans-serif;
  background-color: #181818;
}

.container {
  max-width: 1116px;
  margin: 0 auto;
  padding: 0 15px;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.stop-scroll {
  overflow: hidden;
}

/* --- RESET STYLES--- */

.title-reset {
  margin: 0;
}

.descr-reset {
  margin: 0;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.link-reset {
  color: inherit;
  text-decoration: none;
  outline: none;
}

/* --- COMMON STYLES --- */

.section-title {
  font-style: normal;
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0.2px;
}

.section-descr {
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.btn-blue {
  color: var(--text-color);
  border: 1px solid #4452fe;
  background-color: #4452fe;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out,
              transform 0.6s ease-in-out;
}

.btn-blue:focus,
.btn-blue:hover {
  box-shadow: 0px 0px 10px 3px rgb(255 255 255 / 30%);
}

.btn-blue:active {
  transform: scale(0.9);
}

.btn-black {
  color: var(--text-color);
  border: 1px solid var(--text-color);
  box-shadow: 0px 4px 31px 0px rgba(255, 255, 255, 0.15);
  transition: box-shadow 0.3s ease-in-out,
              transform 0.6s ease-in-out;
}

.btn-black:focus,
.btn-black:hover {
  box-shadow: 0px 0px 10px 3px rgb(255 255 255 / 30%);
}

.btn-black:active {
  transform: scale(0.9);
}

.link-style {
  display: inline-block;
  padding: 19px 44px;
  color: var(--text-color);
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.2px;
}

.img-style {
  display: block;
  object-fit: cover;
}

.list__title {
  font-style: normal;
  font-size: 21px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1px;
}

.list__descr {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
}

/* --- EFFECTS FROM HOVER.CSS LIB --- */

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background-color: var(--text-color);
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}